* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: calc(100vh - 40px);
    min-height: 500px;
    min-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: auto;
}

.start {
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    padding: 5px 20px;
    background-color: rgb(70, 143, 70);
    color: white;
    border-radius: 5px;
}

.gameboard {
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
    display: grid;    
    border: solid 3px black;

    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    box-shadow: 0px 0px 10px black;
}

.gameboard>* {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    border: solid 3px black;
    background-color: burlywood;
}

.gameboard>*:hover {
    cursor: pointer;
}

.display-message {
    min-height: 1.5rem;
}

.reset-button {
    visibility: hidden;
}